*$py.class
*.cover
*.egg
*.egg-info/
*.py,cover
*.py[cod]
*.so
*.swp
*~
.AppleDouble
.cache
.coverage
.coverage.*
.DS_Store
.env
.hypothesis/
.idea/
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.nodeenv
.nox/
.pytest_cache/
.ruff_cache/
.todo
.tox/
.venv
__pycache__/
build/
cover/
coverage.xml
dist/
docs/_build/
docs/sg_execution_times.rst
docs/extensions/sphinx-gallery
env.bak/
env/
ENV/
htmlcov/
node_modules
nosetests.xml
poetry.lock
release/
uv.lock
venv.bak/
venv/
