:root {
  --sd-color-primary: var(--bz-color-primary);
  --sd-color-secondary: var(--bz-color-secondary);
  --sd-color-success: var(--bz-color-green);
  --sd-color-info: var(--bz-color-cyan);
  --sd-color-warning: var(--bz-color-orange);
  --sd-color-danger: var(--bz-color-red);
  --sd-color-muted: var(--bz-color-gray);

  --sd-color-primary-contrast: var(--bz-color-primary-1);
  --sd-color-secondary-contrast: var(--bz-color-secondary-1);
  --sd-color-success-contrast: var(--bz-color-green-1);
  --sd-color-info-contrast: var(--bz-color-cyan-1);
  --sd-color-warning-contrast: var(--bz-color-orange-1);
  --sd-color-danger-contrast: var(--bz-color-red-1);
  --sd-color-muted-contrast: var(--bz-color-gray-1);

  --sd-color-primary-highlight: var(--bz-color-primary-1);
  --sd-color-secondary-highlight: var(--bz-color-secondary-1);
  --sd-color-success-highlight: var(--bz-color-green-1);
  --sd-color-info-highlight: var(--bz-color-cyan-1);
  --sd-color-warning-highlight: var(--bz-color-orange-1);
  --sd-color-danger-highlight: var(--bz-color-red-1);
  --sd-color-muted-highlight: var(--bz-color-gray-1);

  --sd-color-primary-text: var(--bz-color-white-5);
  --sd-color-secondary-text: var(--bz-color-white-5);
  --sd-color-success-text: var(--bz-color-white-5);
  --sd-color-info-text: var(--bz-color-white-5);
  --sd-color-warning-text: var(--bz-color-white-5);
  --sd-color-danger-text: var(--bz-color-white-5);
  --sd-color-muted-text: var(--bz-color-white-5);

  --sd-color-card-background: var(--bz-topic-background-color);
  --sd-color-card-border-hover: var(--bz-color-primary);
  --sd-color-card-border: var(--bz-topic-border-color);

  --sd-color-tabs-border: color-mix(in oklab, var(--bz-color-primary) 20%, #88888822);
  --sd-color-tabs-label-active: var(--bz-color-primary-1);
  --sd-color-tabs-label-inactive: var(--bz-color-muted);
  --sd-color-tabs-label-hover: var(--bz-color-primary-5);
  --sd-color-tabs-background: var(--bz-color-surface-1);
  --sd-color-tabs-background-active: color-mix(in oklab, var(--bz-color-surface-2), var(--bz-color-surface-3));

  --sd-fontsize-dropdown: var(--bz-topic-font-size);
  --sd-fontsize-dropdown-title: var(--bz-topic-font-size);
  --sd-fontweight-dropdown-title: 600;
}

:root[data-theme=dark] {
  --sd-color-primary-contrast: var(--bz-color-primary-5);
  --sd-color-secondary-contrast: var(--bz-color-secondary-5);
  --sd-color-success-contrast: var(--bz-color-green-5);
  --sd-color-info-contrast: var(--bz-color-cyan-5);
  --sd-color-warning-contrast: var(--bz-color-orange-5);
  --sd-color-danger-contrast: var(--bz-color-red-5);
  --sd-color-muted-contrast: var(--bz-color-gray-5);

  --sd-color-tabs-label-active: var(--bz-color-primary-5);
  --sd-color-tabs-background: var(--bz-color-surface-3);
  --sd-color-tabs-background-active: color-mix(in oklab, var(--bz-color-surface-1), var(--bz-color-surface-2));
}

.sd-card {
  --bz-surface: var(--sd-color-card-background);

  &.sd-card-hover:focus-within {
    outline: 1px solid;
  }
}

.sd-outline-primary, .sd-btn-outline-primary {
  --sd-color-contrast: var(--sd-color-primary-contrast);
}

.sd-outline-secondary, .sd-btn-outline-secondary {
  --sd-color-contrast: var(--sd-color-secondary-contrast);
}

.sd-outline-success, .sd-btn-outline-success {
  --sd-color-contrast: var(--sd-color-success-contrast);
}

.sd-outline-info, .sd-btn-outline-info {
  --sd-color-contrast: var(--sd-color-info-contrast);
}

.sd-outline-warning, .sd-btn-outline-warning {
  --sd-color-contrast: var(--sd-color-warning-contrast);
}

.sd-outline-danger, .sd-btn-outline-danger {
  --sd-color-contrast: var(--sd-color-danger-contrast);
}

.sd-outline-muted, .sd-btn-outline-muted {
  --sd-color-contrast: var(--sd-color-muted-contrast);
}

.sd-shadow-sm {
  box-shadow: var(--bz-shadow-sm), var(--bz-inset-shadow, 0 0 0 transparent)!important;
}

.sd-shadow-md {
  box-shadow: var(--bz-shadow-md), var(--bz-inset-shadow, 0 0 0 transparent)!important;
}

.sd-shadow-lg {
  box-shadow: var(--bz-shadow-lg), var(--bz-inset-shadow, 0 0 0 transparent)!important;
}

.sd-font-weight-bold {
  font-weight: 600!important;
}

.sd-btn:not([class*="outline"]), .sd-badge:not([class*="outline"]) {
  border: 1px solid var(--bz-color-outline);
  background-color: var(--bz-color-surface-5);
}

.sd-btn:where([class*="outline"]), .sd-badge:where([class*="outline"]) {
  color: var(--sd-color-contrast, var(--bz-color-surface-5))!important;
  border-color: var(--sd-color-contrast, var(--bz-color-surface-5))!important;
}

.sd-container,
.sd-container-fluid,
.sd-container-lg,
.sd-container-md,
.sd-container-sm,
.sd-container-xl {
  padding-left: 0;
  padding-right: 0;

  .sd-container,
  .sd-container-fluid,
  .sd-container-lg,
  .sd-container-md,
  .sd-container-sm,
  .sd-container-xl {
    padding-left: var(--sd-gutter-x, 0.75rem);
    padding-right: var(--sd-gutter-x, 0.75rem);
  }
}

details.sd-dropdown summary.sd-summary-title {
  padding: .35em .6em .35em 1em;

  &:focus-visible {
    outline: 1px solid;
  }

  &.sd-bg-primary {
    --bz-surface: color-mix(in oklab, var(--sd-color-primary) 70%, transparent);
  }
  &.sd-bg-secondary {
    --bz-surface: color-mix(in oklab, var(--sd-color-secondary) 70%, transparent);
  }
  &.sd-bg-success {
    --bz-surface: color-mix(in oklab, var(--sd-color-success) 70%, transparent);
  }
  &.sd-bg-info {
    --bz-surface: color-mix(in oklab, var(--sd-color-info) 70%, transparent);
  }
  &.sd-bg-warning {
    --bz-surface: color-mix(in oklab, var(--sd-color-warning) 70%, transparent)!important;
  }
  &.sd-bg-danger {
    --bz-surface: color-mix(in oklab, var(--sd-color-danger) 70%, transparent)!important;
  }
  &.sd-bg-muted {
    --bz-surface: color-mix(in oklab, var(--sd-color-muted) 70%, transparent)!important;
  }
  &.sd-bg-black {
    --bz-surface: color-mix(in oklab, var(--bz-color-black-1) 70%, transparent)!important;
  }
  &.sd-bg-white {
    --bz-surface: color-mix(in oklab, var(--bz-color-white-5) 70%, transparent)!important;
  }
}

article .sd-tab-set {
  > input {
    &:checked + label {
      text-shadow: var(--bz-thin-text-shadow);
      background-color: var(--sd-color-tabs-background-active);
      border: 1px solid var(--sd-color-tabs-border);
      padding-top: calc(.25rem + 3px);
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border-bottom: none;
      margin-top: 0;
      z-index: 2;

      &:not(:first-of-type) {
        padding-left: calc(.6rem + 3px);
        margin-left: -3px;
      }

      &:not(:last-of-type) {
        padding-right: calc(.6rem + 3px);
        margin-right: -3px;
      }
    }

    &:focus-visible + label,
    &:focus-visible + label + .sd-tab-content {
      border-color: var(--sd-color-primary);
    }

    &:not(:checked) + label:hover {
      border-color: var(--sd-color-tabs-border);
    }
  }

  > label {
    font-weight: 500;
    border: 1px solid var(--sd-color-tabs-background);
    background-color: var(--sd-color-tabs-background);
    padding-inline: .6rem;
    padding-block:.25rem;
    margin-bottom: -1px;
    margin-top: 3px;
    z-index: 0;
  }

  .sd-tab-content {
    padding-top: 0;
    box-shadow: none;
    z-index: 1;
    border: 1px solid var(--sd-color-tabs-border);
    background-color: var(--sd-color-tabs-background-active);
    padding: 1rem;
    padding-top: 1.25rem;

    > :first-child > :first-child {
      margin-top: 0 !important;
    }
  }

  &:has(.sd-tab-content [class*="highlight-"]:only-child) {
    border-radius: var(--bz-border-radius);
    background-color: var(--sd-color-tabs-background);
    border: 1px solid var(--sd-color-tabs-border);
    margin: 0;
    padding: 0;

    > label {
      height: 100%;
      background: none;
      translate: -1px -1px;
      font-size: var(--bz-size-xs);

      &:first-of-type {
        border-top-left-radius: var(--bz-border-radius);
      }
    }

    > input:focus-visible + label + .sd-tab-content pre {
      border-color: var(--sd-color-primary);
    }

    > input:checked + label {
      margin-top: -2px;
      padding-top: calc(.25rem + 5px);
      background-color: var(--sd-color-tabs-background-active);
      padding-bottom: calc(.25rem + 2px);
    }

    > input:not(:checked) + :is(label, label:hover) {
      border-color: transparent;
    }

    > .sd-tab-content {
      padding: 0;
      border: none;
      background: none;

      pre {
        margin: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border: 1px solid var(--sd-color-tabs-border);
      }
    }
  }
}
