.bz-back-to-top {
  position: fixed;
  display: flex;
  z-index: 100;
  left: 50vw;
  bottom: -3rem;
  translate: -50%;
  align-items: center;
  text-decoration: none;
  border-radius: var(--bz-border-radius-full);
  font-size: var(--bz-back-to-top-font-size);
  font-family: var(--bz-back-to-top-font-family);
  font-weight: 500;
  color: var(--bz-back-to-top-color);
  background-color: var(--bz-back-to-top-background-color);
  border: 1px solid var(--bz-back-to-top-border-color);
  box-shadow: var(--bz-shadow-lg);
  padding: .5rem 1.25rem .5rem 1rem;
  gap: .35rem;
  transition:
    background var(--bz-transition-normal) var(--bz-transition-ease),
    color var(--bz-transition-normal) var(--bz-transition-ease),
    bottom var(--bz-transition-slow) var(--bz-transition-ease);

  &:hover {
    color: var(--bz-back-to-top-color-hover);
    background-color: var(--bz-back-to-top-background-color-hover);
  }

  &.active {
    bottom: 4rem;
  }

  svg {
    height: 1em;
    vertical-align: middle;
  }
}
