.bz-header-tabs {
  position: sticky;
  display: flex;
  z-index: 1000;
  top: 0;
  align-items: center;
  gap: .25rem;
  height: var(--bz-header-tabs-height);
  color: var(--bz-header-tabs-color);
  font-size: var(--bz-header-font-size);
  font-family: var(--bz-header-font-family);
  background: oklch(from var(--bz-header-background-color, transparent) calc(l - 0.012) c h) 100%;
  padding-inline: calc(var(--bz-page-padding) + clamp(0.75rem, 0.45rem + 1.5vw, 1.5rem));
  backdrop-filter: blur(.75rem) saturate(150%) brightness(1.05);

  @media (width > 52rem) {
    position: relative;
  }

  > ul, li {
    display: flex;
    height: 100%;
    align-items: center;
  }

  > ul {
    flex: 1;
    flex-wrap: nowrap;
    overflow-x: auto;
    white-space: nowrap;
    gap: .3rem;
    padding-inline: 4px;
    margin-inline: -4px;
  }

  a {
    color: inherit;
    padding-inline: .5rem;
    padding-block: .25rem;
    transition: background var(--bz-transition-normal) var(--bz-transition-ease);
    border-radius: var(--bz-border-radius);
    text-decoration: none;
    overflow-wrap: anywhere;
    white-space: nowrap;

    &:hover {
      color: var(--bz-header-tabs-color-hover);
      background-color: var(--bz-header-tabs-background-color-hover);
    }
  }

  > ul > li.current {
    position: relative;

    a {
      color: var(--bz-header-tabs-color-active);
      text-shadow: var(--bz-bold-text-shadow);
    }

    &::after {
      content: "";
      position: absolute;
      height: 2px;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--bz-header-tabs-color-active);
    }
  }

  .bz-dropdown {
    display: none;

    &:has(li) {
      display: block;
    }

    ul {
      right: 0;
    }

    button {
      color: inherit;
      border-radius: 0.25rem;
      background-color: var(--bz-header-background-color-variant);
      border: 1px solid var(--bz-header-border-color);

      > svg {
        color: inherit;
        height: 1.25rem;
        vertical-align: middle;
      }
    }
  }
}

.bz-sidebar-primary-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.25rem;
  padding: .25rem;

  svg {
    display: block;
    height: 1em;
    color: var(--bz-color-muted);
  }
}

:has(.bz-sidebar-primary) .bz-sidebar-primary-toggle {
  @media (width <= 52rem) {
    display: block;
  }
}
