@layer reset, theme, layout, content, components, utilities;

@import "minireset.css" layer(reset);

@import "./common.css" layer(theme);
@import "./variables/colors.css" layer(theme);
@import "./variables/content.css" layer(theme);
@import "./variables/fonts.css" layer(theme);
@import "./variables/icons.css" layer(theme);
@import "./variables/utils.css" layer(theme);

@import "./sections/announcement.css" layer(layout);
@import "./sections/article-footer.css" layer(layout);
@import "./sections/article-header.css" layer(layout);
@import "./sections/back-to-top.css" layer(layout);
@import "./sections/content.css" layer(layout);
@import "./sections/footer.css" layer(layout);
@import "./sections/header-main.css" layer(layout);
@import "./sections/header-tabs.css" layer(layout);
@import "./sections/search-form.css" layer(layout);
@import "./sections/search-results.css" layer(layout);
@import "./sections/sidebar-primary.css" layer(layout);
@import "./sections/sidebar-secondary.css" layer(layout);
@import "./sections/skip-to-content.css" layer(layout);

@import "./sphinx/admonition.css" layer(content);
@import "./sphinx/api.css" layer(content);
@import "./sphinx/block.css" layer(content);
@import "./sphinx/code.css" layer(content);
@import "./sphinx/figure.css" layer(content);
@import "./sphinx/footnote.css" layer(content);
@import "./sphinx/list.css" layer(content);
@import "./sphinx/math.css" layer(content);
@import "./sphinx/misc.css" layer(content);
@import "./sphinx/prose.css" layer(content);
@import "./sphinx/sidebar.css" layer(content);
@import "./sphinx/table.css" layer(content);
@import "./sphinx/target.css" layer(content);
@import "./sphinx/toctree.css" layer(content);

@import "./components/breadcrumbs.css" layer(components);
@import "./components/dropdown.css" layer(components);
@import "./components/edit-this-page.css" layer(components);
@import "./components/external-links.css" layer(components);
@import "./components/footer-copyright.css" layer(components);
@import "./components/header-brand.css" layer(components);
@import "./components/lang-switcher.css" layer(components);
@import "./components/page-actions.css" layer(components);
@import "./components/related-pages.css" layer(components);
@import "./components/repo-stats.css" layer(components);
@import "./components/search-button.css" layer(components);
@import "./components/sidebar-nav.css" layer(components);
@import "./components/sidebar-toc.css" layer(components);
@import "./components/theme-switcher.css" layer(components);
@import "./components/version-switcher.css" layer(components);

@import "./utilities/user.css" layer(utilities);
@import "./utilities/tooltip.css" layer(utilities);

@import "./extensions/contributors.css";
@import "./extensions/copybutton.css";
@import "./extensions/datatables.css";
@import "./extensions/design.css";
@import "./extensions/docsearch.css";
@import "./extensions/gallery.css";
@import "./extensions/jupyter.css";
@import "./extensions/mermaid.css";
@import "./extensions/myst-nb.css";
@import "./extensions/nbsphinx.css";
@import "./extensions/readthedocs.css";
@import "./extensions/togglebutton.css";
@import "./extensions/treeview.css";
