.bz-dropdown {
  position: relative;
  padding-bottom: 0.75rem;
  margin-bottom: -0.75rem;
  font-size: var(--bz-dropdown-font-size);
  font-family: var(--bz-dropdown-font-family);

  a {
    cursor: pointer;
    text-decoration: none;
    color: var(--bz-dropdown-color);
  }

  a:hover {
    color: var(--bz-dropdown-color-hover);
    background-color: var(--bz-dropdown-background-color-hover);
  }

  li .current {
    font-weight: 700;
    color: var(--bz-dropdown-color-active);
  }

  li > * {
    display: block;
    padding-block: clamp(0.25rem, 0.207rem + 0.217vw, 0.375rem);
    padding-inline: clamp(0.5rem, 0.439rem + 0.304vw, 0.675rem);
    border-radius: var(--bz-border-radius);
  }

  ul {
    --bz-surface: color-mix(in oklab, var(--bz-dropdown-background-color), transparent 5%);

    opacity: 0;
    z-index: 10;
    list-style: none;
    width: max-content;
    position: absolute;
    margin-top: 0.75rem;
    visibility: hidden;
    padding: 0.4rem;
    border-radius: var(--bz-border-radius);
    border: 1px solid var(--bz-dropdown-border-color);
    box-shadow: var(--bz-shadow-sm);
    transition:
      opacity 0.2s var(--bz-transition-ease),
      visibility 0.2s var(--bz-transition-ease);

    &[aria-hidden="false"] {
      opacity: 1;
      visibility: visible;
    }
  }
}
