.bz-sidebar-toc {
  font-size: var(--bz-sidebar-toc-font-size);
  font-family: var(--bz-sidebar-toc-font-family);

  > p {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: .5rem;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: var(--bz-sidebar-toc-caption-color);
    font-size: var(--bz-sidebar-toc-caption-font-size);
    font-family: var(--bz-sidebar-toc-caption-font-family);

    &:first-of-type {
      margin-top: 0;
    }

    svg {
      height: 1rem;
    }
  }

  ul ul {
    padding-left: 1rem;
  }

  li:not(:has(a.current)) {
    a {
      color: var(--bz-sidebar-toc-color);
    }
  }

  li:not(:has(a.current, a:focus-within)) {
    ul {
      height: 0;
      overflow: hidden;
    }
  }

  a {
    display: block;
    border-radius: var(--bz-border-radius);
    text-decoration: none;
    font-weight: 400;
    margin-left: -.5rem;
    padding: .265rem .5rem;
    color: var(--bz-sidebar-toc-color-active);
    transition: text-shadow var(--bz-transition-normal) var(--bz-transition-ease);

    &:hover {
      color: var(--bz-sidebar-toc-color-hover) !important;
    }

    &.current {
      text-shadow: var(--bz-bold-text-shadow);
    }
  }
}
