dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple) {
  .sig + dd {
    clear: right;
  }

  > dd, > dd > p {
    padding-left: clamp(0.35rem, 0.3rem + 0.25vw, 0.5rem);
  }

  dl:not(.field-list) {
    padding-left: clamp(0.5rem, 0.25rem + 1.25vw, 1.25rem);
  }

  dl.field-list dd > ul {
    margin-bottom: 1rem;
  }

  dl.field-list {
    --bz-surface: var(--bz-sig-table-background-color);

    display: block;
    border-radius: var(--bz-border-radius);
    color: var(--bz-sig-table-color);
    font-size: var(--bz-sig-table-font-size);
    font-family: var(--bz-sig-table-font-family);
    border: 1px solid var(--bz-sig-border-color);
    border-top: none;

    > dd {
      padding-inline: .75rem;
    }
  }

  dt.field-odd, dt.field-even {
    --bz-surface: var(--bz-sig-table-head-background-color);

    text-transform: uppercase;
    color: var(--bz-sig-table-head-color);
    font-size: var(--bz-sig-table-head-font-size);
    font-family: var(--bz-sig-table-head-font-family);
    border-bottom: 1px solid var(--bz-sig-border-color);
    padding: .35rem .7rem;
    margin-bottom: .5rem;

    &:first-child {
      border-radius: calc(var(--bz-border-radius) / 2) calc(var(--bz-border-radius) / 2) 0 0;
    }
  }
}

dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple):not(
    dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple)
      dl[class]:not(.option-list, .field-list, .footnote, .glossary, .simple)
  ) {
  margin-bottom: 2.5rem;
}

dl > dt > a:has(.viewcode-link) {
  position: sticky;
  user-select: none;
  z-index: 1;
  right: -.5rem;
  left: calc(100% - 1.65rem);
  padding: .25rem .5rem;
  margin-right: -.5rem;
  background-color: oklch(from var(--bz-sig-background-color) calc(l - 0.006) c h);

  span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
  }

  &::before {
    content: "";
    vertical-align: middle;
    display: inline-block;
    mask-image: var(--bz-icon-source-code);
    background-color: currentColor;
    height: 1.15rem;
    width: 1.15rem;
  }

  &::after {
    content: "source";
    position: absolute;
    opacity: 0;
    right: 0;
    transition:
      opacity var(--bz-transition-normal) var(--bz-transition-ease),
      right var(--bz-transition-normal) var(--bz-transition-ease);
  }

  &:hover::after, &:focus::after {
    opacity: 1;
    right: 2rem;
  }

  + .headerlink {
    margin-left: -1.25rem;
    margin-right: 2rem;
  }
}

dt.sig {
  --bz-surface: var(--bz-sig-background-color);

  display: block;
  position: relative;
  overflow: auto;
  text-wrap: nowrap;
  border-radius: var(--bz-border-radius)!important;
  color: var(--bz-sig-color);
  font-size: var(--bz-sig-font-size);
  font-family: var(--bz-sig-font-family);
  font-weight: 600;
  padding: .3rem .5rem .4rem;
  margin: 1.25rem 0 .75rem;
  border: 1px solid var(--bz-sig-border-color);
  border-top: 8px solid color-mix(in oklab, var(--bz-sig-accent-color) 25%, transparent);

  dl {
    margin: 0;
    padding-left: 0 !important;
  }

  a:has(.viewcode-link) {
    opacity: 0;
    transition: opacity var(--bz-transition-normal) var(--bz-transition-ease);
  }

  &:hover a:has(.viewcode-link) {
    opacity: 0.9;
  }

  dl dd {
    padding-left: 0;

    &::before {
      content: "··";
      color: var(--bz-sig-space-color);
      margin-right: .25rem;
    }
  }
}

.sig-name {
  color: var(--bz-sig-name-color);
}

.sig .property {
  color: var(--bz-sig-property-color);
}

.sig-param, .sig-return, .sig .optional {
  font-size: .925em;
  font-style: normal;
}

.sig-param .o, .sig-return, .sig .optional {
  color: var(--bz-sig-type-color);
}

.sig-param .n {
  color: var(--bz-sig-param-color);
}

.sig-param .n:not(:first-of-type) {
  font-weight: normal;
  color: var(--bz-sig-type-color);
}

.sig-param .default_value {
  color: var(--bz-sig-default-color);
  font-weight: bold;
}

.viewcode-block:target {
  background-color: var(--bz-target-background-color);
  margin-inline: -.5rem;
  padding-inline: .5rem;
}
