blockquote {
  --bz-shadow: var(--bz-shadow-sm);
  --bz-surface: var(--bz-quote-background-color);

  position: relative;
  border-radius: var(--bz-border-radius);
  color: var(--bz-quote-color);
  font-size: var(--bz-quote-font-size);
  font-family: var(--bz-quote-font-family);
  border-left: 4px solid var(--bz-quote-accent-color);
  padding: .8rem 1.2rem;
}

blockquote .attribution {
  color: var(--bz-quote-attribution-color);
  font-size: var(--bz-quote-attribution-font-size);
  font-family: var(--bz-quote-attribution-font-family);
  font-style: normal;
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:last-child {
  margin-bottom: 0;
}

blockquote.epigraph {
  --bz-quote-accent-color: var(--bz-quote-epigraph-color);

  font-size: var(--bz-quote-epigraph-font-size);
  font-family: var(--bz-quote-epigraph-font-family);
  font-style: italic;
}

blockquote.pull-quote {
  --bz-quote-accent-color: var(--bz-quote-pull-color);

  padding-right: 3rem;
  font-size: var(--bz-quote-pull-font-size);
  font-family: var(--bz-quote-pull-font-family);
  font-style: italic;
}

blockquote.pull-quote::before {
  content: "";
  position: absolute;
  display: block;
  height: 1em;
  width: 1em;
  mask-image: var(--bz-quote-pull-icon);
  right: .75rem;
  top: .75rem;
  background-color: var(--bz-quote-pull-color);
}

blockquote.pull-quote::after {
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: calc(100% - 3.75rem);
  right: 1.25rem;
  top: 2.5rem;
  background-color: var(--bz-quote-pull-color);
}

blockquote.highlights {
  font-size: var(--bz-quote-highlight-font-size);
  font-family: var(--bz-quote-highlight-font-family);
  border-color: var(--bz-quote-highlight-color);
}

.line-block {
  display: block;
  margin-block: .75rem;
}

.line-block .line-block {
  margin-block: 0;
  margin-left: 2rem;
}
