div.highlight, div.literal-block-wrapper, [class*="highlight-"] {
  position: relative;
  display: flex;
  width: unset;
  flex-direction: column;
  border-radius: var(--bz-border-radius);
  break-inside: avoid;
  color: var(--bz-code-block-color)!important;

  pre {
    overflow: auto;
    padding: 1rem;
    line-height: 1.35!important;
    border-radius: var(--bz-border-radius);
    font-size: var(--bz-code-block-font-size);
    font-family: var(--bz-code-block-font-family);
    border: 1px solid var(--bz-code-block-border-color);
    background-color: var(--bz-code-block-background-color);
  }
}

p + div:is([class*="highlight-"], .literal-block-wrapper) {
  margin-top: .5rem;
}

div:where([class*="highlight-"], .literal-block-wrapper) {
  margin-block: 1.5rem;
}

div.code-block-caption + div {
  margin-block: 0;
}

.highlight .hll {
  display: block;
}

.highlight :is(span.linenos, .gp) {
  user-select: none;
  pointer-events: none;
}

.highlight:has(span.linenos) pre {
  padding-left: 3.25rem;
}

.highlight span.linenos {
  position: absolute;
  display: inline-block;
  opacity: 0.95!important;
  left: 1px;
  width: 2.5rem;
  text-align: right;
  font-family: var(--bz-page-font-family);
  padding-inline: 0.5rem!important;
  color: var(--bz-code-block-line-number-color)!important;
  border-right: 1px solid var(--bz-code-block-border-color);
  background-color: var(--bz-code-block-background-color)!important;
}

.literal-block-wrapper {
  border-radius: var(--bz-border-radius);
  border: 1px solid var(--bz-code-block-border-color);
  background-color: var(--bz-code-block-background-color);
}

.literal-block-wrapper div[class*="highlight-"] pre {
  border: none;
}

.code-block-caption {
  --bz-surface: var(--bz-code-block-caption-background-color);

  padding: .5rem 1rem;
  border-radius: var(--bz-border-radius) var(--bz-border-radius) 0 0;
  color: var(--bz-code-block-caption-color);
  font-size: var(--bz-code-block-caption-font-size);
  font-family: var(--bz-code-block-caption-font-family);
  border-bottom: 1px solid var(--bz-code-block-border-color);
}
