a.footnote-reference {
  font-size: 62.5%;
  vertical-align: super;
}

aside.footnote {
  font-size: var(--bz-size-sm);
  color: var(--bz-color-muted);
}

aside.footnote > :not(span) {
  margin-left: 3ch;
  margin-block: .325rem;
}

aside.footnote > span {
  float: left;
  font-weight: 600;
  padding-right: .25rem;
}

div.citation > span {
  float: left;
}

div.citation > p {
  margin-left: 4rem;
}

aside.footnote > p:last-of-type,
div.citation > p:last-of-type {
  margin-bottom: 0;
}
