div.container.table {
  overflow-x: auto;
  margin-top: .75rem;
  margin-bottom: 2rem;
  border: 1px solid var(--bz-table-border-color);
  border-radius: calc(var(--bz-border-radius) / 2);
  background-color: var(--bz-table-background-color);
}

table.docutils {
  display: table;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
  border-spacing: 0;
  overflow-wrap: break-word;
}

table.docutils :is(thead, tbody) {
  vertical-align: inherit;

  a.headerlink {
    vertical-align: middle;
  }
}

table.docutils :is(th, td) {
  border-top: 1px solid var(--bz-table-border-color);
  border-left: 1px solid var(--bz-table-border-color);
  padding: .5rem .625rem;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

table.docutils thead tr:last-child th {
  border-bottom: 2px solid color-mix(in oklab,var(--bz-table-accent-color) 25%,transparent);
}

table.docutils tr:first-child :is(th, td) {
  border-top: none;
}

table.docutils :is(th, td):first-child {
  border-left: none;
}

table.docutils tr:first-child :where(td, th):first-child {
  border-top-left-radius: calc(var(--bz-border-radius) / 2);
}

table.docutils tr:first-child :where(td, th):last-child {
  border-top-right-radius: calc(var(--bz-border-radius) / 2);
}

table.docutils tbody tr:last-child :where(td, th):first-child {
  border-bottom-left-radius: calc(var(--bz-border-radius) / 2);
}

table.docutils tbody tr:last-child :where(td, th):last-child {
  border-bottom-right-radius: calc(var(--bz-border-radius) / 2);
}

table.docutils:has(thead) tbody tr:first-child :where(td, th):first-child {
  border-top-left-radius: 0;
}

table.docutils:has(thead) tbody tr:first-child :where(td, th):last-child {
  border-top-right-radius: 0;
}

table.docutils thead {
  color: var(--bz-table-head-color);
  background-color: var(--bz-table-head-background-color);
}

table.docutils th {
  font-size: var(--bz-table-head-font-size);
  font-family: var(--bz-table-head-font-family);
  font-weight: 550;
}

table.docutils tbody tr {
  color: var(--bz-table-odd-color);
  font-size: var(--bz-table-font-size);
  font-family: var(--bz-table-font-family);
  background-color: var(--bz-table-odd-background-color);
}

table.docutils tbody tr:nth-child(even) {
  color: var(--bz-table-even-color);
  background-color: var(--bz-table-even-background-color);
}

table.docutils caption {
  vertical-align: middle;
  color: var(--bz-table-caption-color);
  font-size: var(--bz-table-caption-font-size);
  font-family: var(--bz-table-caption-font-family);
  padding: .5rem .625rem;
}

table.docutils :where(figure, img, video) {
  padding-block: 0;
}
